@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --color: #c48e3f;
    --padding: 1.5em;
}

* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

/* Header */

 nav{     
    z-index: 1; /*va permettre de choisir le postionnement  */
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    padding: var(--padding);
}

nav a{
    color: white;
    text-decoration: none;
}

nav,ul,#social-media{
    display: flex;
    list-style-type: none;
    font-size: 25px;
    gap: var(--padding);
    justify-content: space-between;
}

#hero-banner {
    position: relative; /* permet la superposition */
    width: 100%;
    height: 100vh;
    overflow: hidden;      
}

#hero-banner img.hero-image{
    object-fit: cover; /* étire l'image */
    width: 100%;
    height: 100%;
}


#hero-banner img.hero-overlay {
    position: absolute; /* positionne l’image au-dessus */      
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%);
    margin-top: 3%;
    height: 75%;
}
/* Main */

#intro-quote{
    background-color: var(--color);
    text-align: center;
    padding: var(--padding);
    color: white;
    font-size:2em;
}

#beer-tradition{
    display: flex;
    flex-wrap: wrap; /* positionne l’un au dessus de l'autre */
    justify-content: center;
    text-align: center;
}

#beer-tradition article{
    padding: 8% 4%;
}

#beer-tradition h2{
    margin-bottom: 2%;
    font-size: 3em;   
}

#beer-tradition h3{
    font-style: italic;
    margin-bottom: 1rem;
    font-size: 1.2em;
}

#beer-tradition p{
    margin-bottom: 2%;
}

#beer-tradition  article .readMe{
   background-color: #c48e3f;
   padding: 2%;
   margin: 2% 35%;
   border-radius: 1em;
}

#beer-tradition  article a{
   color: white;
   text-decoration: none;
   font-size: 1.5em;
}



#beer-tradition article, #beer-tradition figure{
    width: 50%;
}

#beer-tradition figure{
    position: relative; 
    overflow: hidden;
   
}

#beer-tradition figure img.overlay {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    }

#beer-tradition img.overlay-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
 
#offer-section figure img{
    width: 100%;
}
 
   
 

