@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color: #c48e3f;
    --padding: 1.5em;
}

* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}

/* Header */

 nav{     
    z-index: 1; /*va permettre de choisir le postionnement  */
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 70%);
    padding: var(--padding);
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #c48e3f;
}

nav,ul,#social-media{
    display: flex;
    list-style-type: none;
    font-size: 25px;
    gap: var(--padding);
    justify-content: space-between;
}

#hero-banner {
    position: relative; /* permet la superposition */
    width: 100%;
    height: 100vh;
    overflow: hidden;      
}

#hero-banner img.hero-image{
    object-fit: cover; /* étire l'image */
    width: 100%;
    height: 100%;
}


#hero-banner img.hero-overlay {
    position: absolute; /* positionne l’image au-dessus */      
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%);
    margin-top: 3%;
    height: 75%;
}
/* Main */

#intro-quote{
    background-color: var(--color);
    text-align: center;
    padding: var(--padding);
    color: white;
    font-size:2em;
}

#beer-tradition{
    display: flex;
    flex-wrap: wrap; /* positionne l’un au dessus de l'autre */
    justify-content: center;
    text-align: center;
}

#beer-tradition article{
    padding: 8% 4%;
}

#beer-tradition h2{
    margin-bottom: 2%;
    font-size: 3em;   
}

#beer-tradition h3{
    font-style: italic;
    margin-bottom: 1rem;
    font-size: 1.2em;
}

#beer-tradition p{
    margin-bottom: 2%;
}

#beer-tradition  article .readMe{
   background-color: #c48e3f;
   padding: 2%;
   margin: 2% 35%;
   border-radius: 1em;
}

#beer-tradition  article .readMe:hover{
    filter: opacity(0.9)
}


#beer-tradition  article a{
   color: white;
   text-decoration: none;
   font-size: 1.5em;
}

#beer-tradition article, #beer-tradition figure{
    width: 50%;

}

#beer-tradition figure{
    position: relative; 
    overflow: hidden;
   
}

#beer-tradition figure img.base-img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
    }

#beer-tradition img.overlay-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gallery .gallery-grid{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /* position: absolute; */
    
}

#gallery figure .gallery-item img{
    object-fit: cover; 
    width: 100%;
    height: 100%;

}

#gallery .gallery-item .plus{
    position: relative;
    top: -55%;
    left: 45%;
    transition: 0.5s;
    /* opacity: 0; */
}


#gallery .plus{
    color: white;
    font-size: 30px;
    /* transform: rotateZ(90deg); */
}

.gallery-grid:hover  .gallery-item:hover {
    transform: scale(1.1);
    filter: grayscale(1);


}

.plus:hover{
    transform: rotateX(90deg);
    opacity: 1;
}





#features {
    display: flex;
    padding: 4% 15%;
    text-align: center;
    justify-content: center;

}

#features article{
    padding: 2em;
}

#features img{
    margin-bottom: var(--padding);
}

/* #offer-section{
    position: relative; 

} */

#offer-section {
    background-image: url("img/h5-parallax-img-2.jpg");
    width: 100%;
    height:300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#offer-section h2{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 3em;

}

#offer-section p{
    position: relative;
    text-align: center;
    color: white;
    font-style: italic;
    
}

#map {
    position: relative;
    width: 100%;
}
 
.map-wrapper {
    /* position: relative; */
    width: 100%;
    height: 450px; /* hauteur de l'i iframe */
}
 
.map-wrapper iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
}
 
/* Le pin au-dessus de l’iframe */
.map-pin {
    position: absolute;
    top: 50%;          /* Centre vertical */
    left: 50%;         /* Centre horizontal */
    transform: translate(-50%, -100%); /* remonte légèrement le pin */
    z-index: 10;
    margin: 0;
    
}
 
.map-pin img {
    width: 50px;  /* adapte si vous voulez plus grand / petit */
}

footer{
    background-color: black;
    text-align: center;
    width: 100%;
    height: auto;
    padding: var(--padding);
}
/* img{
    vertical-align: top;
}
  */

